[submodule "plugins/darkfactory"]
	path = plugins/darkfactory
	url = https://github.com/marius-patrik/DarkFactory.git
	branch = main
[submodule "plugins/life-support"]
	path = plugins/life-support
	url = https://github.com/marius-patrik/life-support.git
	branch = main
[submodule "plugins/singularity"]
	path = plugins/singularity
	url = https://github.com/marius-patrik/singularity.git
	branch = main
[submodule "plugins/skyblock-agent"]
	path = plugins/skyblock-agent
	url = https://github.com/marius-patrik/SkyAgent.git
	branch = main
[submodule "data"]
	path = data/agent-os
	url = https://github.com/marius-patrik/Andromeda-data.git
	branch = main
