[submodule "packages/andromeda-harness"]
	path = packages/andromeda-harness
	url = https://github.com/marius-patrik/andromeda-harness.git
	branch = main
[submodule "packages/life-support"]
	path = packages/life-support
	url = https://github.com/marius-patrik/life-support.git
	branch = main
[submodule "packages/skyblock-agent"]
	path = packages/skyblock-agent
	url = https://github.com/marius-patrik/skyblock-agent.git
	branch = main
[submodule "packages/darkfactory-agent"]
	path = packages/darkfactory-agent
	url = https://github.com/marius-patrik/darkfactory-agent.git
	branch = main
[submodule "packages/darkfactory-templates"]
	path = packages/darkfactory-templates
	url = https://github.com/marius-patrik/darkfactory-templates.git
	branch = main
[submodule "packages/singularity"]
	path = packages/singularity
	url = https://github.com/marius-patrik/singularity.git
	branch = main
[submodule "packages/rommie-agent"]
	path = packages/rommie-agent
	url = https://github.com/marius-patrik/rommie-agent.git
	branch = main
[submodule "packages/agentos-data"]
	path = packages/agentos-data
	url = https://github.com/marius-patrik/agentos-data.git
	branch = main
[submodule "packages/fabrica"]
	path = packages/fabrica
	url = https://github.com/marius-patrik/Fabrica.git
	branch = dev
[submodule "packages/darkfactory-workspace"]
	path = packages/darkfactory-workspace
	url = https://github.com/marius-patrik/darkfactory-workspace.git
	branch = main
